*{
    margin: 0;
    padding: 0;
}

.headingStyle{
    background-color: maroon;
    color: white;
    text-align: center;
    padding: 20px;
}
.textFontStyle {
    font-family: Arial;
    font-size: 2rem;
    font-weight: bold;
  }

  .card{
    background-color: #ffda77;
    box-shadow: 2px 4px 4px gray;
    border-radius: 5px;
    margin:10px;
    padding: 15px;
    width: 350px;

  }
  .cardTitle{
    text-align: center;
    margin-bottom: 5px;

  }

  .cardDesc{
    text-align:left;
    margin-bottom: 5px;
  }

  .cardFooter{
    text-align: center;
    font-weight: bold;
  }